.principal {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
    
  position: relative;
  color: #000;
}

.principal article {
  padding: 20px;
  background: #fff;
  margin-bottom: 20px;
  border-right: 5px solid rgb(207, 202, 202);
}

.principal article p {
  margin-bottom: 20px;
  line-height: 24px;
  font-family: helvetica, arial, sans-serif;
}

.principal article .fecha {
  color: #939393;
}


/*Aqui empieza la parte responsiva del sitio*/

@media screen and (max-width:800px){
  .principal{
    /*se pone a una columna el grid apartir de un width de 400px*/
    grid-template-columns: 1fr 1fr;
  }
  /* .principal article{
    border-right: 0;
    border-bottom: 5px solid rgb(207, 202, 202);
  } */
}

@media screen and (max-width:600px){
  .principal{
    /*se pone a una columna el grid apartir de un width de 400px*/
    grid-template-columns: 1fr;
  }
  .principal article{
    border-right: 0;
    border-bottom: 5px solid rgb(207, 202, 202);
  }
}