<!-- <p>
  noticias works!
</p>
<div class="grid">
  <div>noticias1 </div>
  <div>noticias2 </div>
  <div>noticias3 </div>
  <div>noticias4 </div>
  <div>noticias5 </div>
  <div>noticias6 </div>
  <div>noticias7 </div>
  <div>noticias8 </div>

</div> -->

<div>
<h2>Lorem ipsum dolor sit amet asd </h2>
<div class="grid">
  <div class="texto">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptate, dolor non debitis voluptatibus aliquid accusamus quis
    natus? Omnis dicta eius provident praesentium aut corrupti, iste fugiat libero odio autem dolore.</div>
  <div class="quote-container">
    <div class="quote">Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit dolorem adipisci quae ut quis aut facilis necessitatibus,
      maiores repudiandae fugiat.</div>
  </div>
  <div class="quote-container">
    <div class="quote">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Labore, inventore nobis in recusandae perspiciatis corrupti.</div>
  </div>
  <div class="texto">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus officia accusamus aperiam, autem libero possimus ullam
    magnam cupiditate totam veniam voluptatum rerum, architecto velit nemo enim. Nam repudiandae vero magnam!</div>
  <div class="texto borde-izq">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus officia accusamus aperiam, autem libero possimus ullam
    magnam cupiditate totam veniam voluptatum rerum, architecto velit nemo enim. Nam repudiandae vero magnam!</div>
</div>
</div>
 