<ul class="nav-navbar">
  <li>
    <a routerLink="/" class="btn">
      <i class="fa fa-home" aria-hidden="true"></i>
      Inicio</a>
  </li>
  <li>
    <a routerLink="/sep" class="btn">
      <i class="fa fa-book" aria-hidden="true"></i>
      SEP</a>
  </li>
  <li>
    <a routerLink="/noticias" class="btn">
      <i class="fa fa-laptop" aria-hidden="true"></i>
      noticias escolares</a>
  </li>
  <li>
    <a routerLink="/galeria" class="btn">
      <i class="fa fa-laptop" aria-hidden="true"></i>
      galeria</a>
  </li>
  <li>
      <a routerLink="/efemerides" class="btn">
        <i class="fa fa-laptop" aria-hidden="true"></i>
        Efemerides</a>
    </li>
</ul>
