<ul class="nav-navbar">
<li>
  <a href="/" class="btn">
    <i class="fa fa-home" aria-hidden="true"></i>
    inicio</a></li>
<li>
  <a href="/reference/git/index.html" class="btn">
    <i class="fa fa-book" aria-hidden="true"></i>
    actividad semanal</a></li>
<li>
  <a href="/projects.html" class="btn">
    <i class="fa fa-laptop" aria-hidden="true"></i>
   noticias escolares</a></li>
<li>
  <a href="/projects.html" class="btn">
    <i class="fa fa-laptop" aria-hidden="true"></i>
    efemerides</a></li>
<li>
  <a href="https://www.gob.mx/sep" class="btn" target="_blank">
    <i class="fa fa-github-square" aria-hidden="true"></i>sep</a></li>
</ul>

