
<div class="notas" >
    <a href="http://www.gob.mx/sep">
        <img src="assets/descarga (7).jpeg" alt="logo"></a>
    <h1>Noticias de la SEP:</h1>
</div>

<!-- <iframe width="100%" height="100%" frameBorder="0" src="http://www.gob.mx/sep"></iframe>

<div class="embed-responsive embed-responsive-16by9 mb-4">
        <iframe class="embed-responsive-item" src="https://www.youtube.com/watch?v=xuHtBhfO3Fs&feature=youtu.be&app=desktop" allowfullscreen></iframe>
      </div> -->

      
      
      <div id="divideo">  
            <iframe width="776" height="437" src="https://www.youtube.com/embed/56YgerKS2Q4" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>       
        
        </div>
     